*{
    margin: 0;
    padding: 0;
}
body {
    background-color:rgb(32,32,34);
    color: white;

}
img{
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 2.5rem;
}
.container {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    width: 450px;
    height: 100%;
}
form{
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-content: space-between;
    border-style: dotted;
    border-color: black;
    
}
.section-inputs{
    display: flex;
    flex-direction: column;
}
label{
    margin-bottom: 6rem;
}

h1{
    color: aqua;
}

button{
    border-radius: 2px;
    border: none;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.9);
    padding: 4%;
}